html {
  overflow-x: none;
  overflow-y: none;
}
.btn::before {
  width: 100%;
  height: 100%;
  right: 100%;
  content: "";
  background-color: #0366d6;
  transition: 0.3s;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: -1;
}
 

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #6fb1f4;
  height: 140px;
}

 

 
 
 
 

 
 
/*style galery*/

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 260px;
  padding: 20px;
  grid-gap: 10px;
}

.galeria__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon {
  filter: none;
  animation: laguna 3s alternate-reverse infinite ease-in-out;
}

 

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2cm;
}

.galeria__item:nth-child(1) {
  grid-row-start: span 2;
}

.galeria__item:nth-child(3) {
  grid-row-start: span 2;
}

.galeria__item:nth-child(6) {
  grid-row-start: span 2;
}

.galeria__item:nth-child(10) {
  grid-row-start: span 2;
}

@media (max-width: 800px) and (min-width: 375px) {
  .galeria__item:nth-child(4) {
    grid-column-start: span 2;
  }
  .galeria__item:nth-child(7) {
    grid-column-start: span 2;
  }
  .galeria__item:nth-child(9) {
    grid-column-start: span 2;
  }
  .galeria {
    grid-auto-rows: 200px;
  }
  .galeria__item:nth-child(1) {
    grid-column-start: span 2;
  }
  .galeria__item:nth-child(3) {
    grid-row-start: span 1;
  }
  .galeria__item:nth-child(6) {
    grid-row-start: span 1;
  }
  .galeria__item:nth-child(10) {
    grid-row-start: span 2;
  }
  .presente .precio {
    display: none;
  }
}
